.inputbox {
  background: #1d2123;
  outline: none;
  padding: 20px;
  width: 40%;
  color: rgba(255, 255, 255, 0.25);
  margin-left: 10px;
}

.music_nav {
  margin: 10px;
}

.music_nav img {
  padding: 10px 10px;
}

.music_nav ul {
  background: #1a1e1f;
  border-radius: 32px;
  list-style: none;
  margin-top: 20px;
  width: 100%;
}

.music_nav li {
  margin: 10px 0px;
  margin-top: 20px;
  padding: 10px 15px;
}

.music_nav i {
  color: rgba(239, 238, 224, 0.25);
}

.image img {
  margin-top: 50px;
  width: 100%;
}

.mobile_img {
  display: none;
}

.chart h5 {
  margin-top: 40px;
}

.recent_playlist {
  background: #1a1e1f;
  border-radius: 20px;
  width: 100%;
  height: 90px;
  margin: 10px;
}

.charts_details {
  display: flex;
  align-items: center;
}

.charts_details h4 {
  font-size: 10px;
  line-height: 15px;
  margin: 0px 10px;
}

.charts_details h5 {
  font-size: 20px;
  line-height: 15px;
  margin: 0px 10px;
}

.small {
  font-size: 10px;
}

.love_logo {
  display: flex;
  align-items: center;
}


.love_logo i {
  margin-left: 100px;
}


.music_play {
  background: url(/src/assets/bg.png);
  height: 70px;
  position: relative;
  width: 100%;
  filter: drop-shadow(0px -25px 100px rgba(16, 16, 16, 0.51));
  top: -28.6px;
}

.music_det {
  display: flex;
  overflow: auto;
}

.music_det::-webkit-scrollbar {
  display: none;
}

.music_det scrollbar-width {
  display: none;
}

.music_det>div {
  width: 100%;
  margin-top: 15px;
}

.musiclogo{
  flex-basis: 70%;
 
}
.mydet {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}

.mydet h5 {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 10px;
}

.music_logo ul {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  width: 30%;
  margin: auto;
}

.music_logo li {
  margin: 0px 20px;
}

.home_image {
  background: url(/src/assets/newlogo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.tunes h5 {
  color: #a4c7c6;
  margin-top: 8rem;
}

.tunes ul {
  list-style: none;
  display: flex;
  margin-top: 4.5rem;
}

.tunes li {
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(5px);
  margin: 0px 0px 0px 10px;
  padding: 10px 20px;
  border-radius: 20px;
}

.table {
  display: flex;
  background: rgba(51, 55, 59, 0.37);
  border-radius: 20px;
  padding: 12px;
  margin: 10px 0px;
  color: white;
  align-items: center;
}

.table>div {
  width: 100%;
}

.table h5 {
  text-align: center;
  font-size: 12px;
}

/* />>>>>>>>>>>>>>>>>>>>>>>>>> Collecctions Design Starts Here >>>>>>>>>>>>>>>>> // */

.collections ul {
  list-style: none;
  display: flex;

}

.collections li {
  margin: 0px 5px;
  background: #facd66;
  border-radius: 20px;
  padding: 10px 20px;
  color: #1d2123;
}

.like {
  background: #1d2123;
}

.current_playlist {
  display: flex;
}

.current_playlist>div {
  margin: 0px 10px;
}

.current_playlist_mobile {
  display: none;
}

@media only screen and (max-width: 600px) {

  .top {
    margin-top: 100px;
  }

  .recent_playlist {
    background: #1a1e1f;
    border-radius: 20px;
    height: auto;
    padding: 0px 30px;
    margin: 10px ;
    width: 90%;
    display: flex;
    

  }
  .recent_playlist > div{
    margin: 0px 10px;
  }
 

 .chart_scroll {
    display: flex;
   overflow: auto;
    align-items: stretch;
  } 

  
  .chart_scroll::-webkit-scrollbar {
    display: none;
  }


  .charts_details {
    flex-direction: column;
   

  }

  .charts_details h4 {
    font-size: 10px;
    margin: 0px 0px;


  }

  .love_logo {
    display: flex;
  width: 10%;
  }

  .love_logo i {
    margin-left: 100px;
  }

  .image img {

    margin-top: 30px;
    width: 100%;
  }

  .mobile_img {
    display: block;
  }

  .progress {
    display: none;
  }

  .musiclogo{
    flex-basis: 30%;
  }
  .musiclogo i{
    margin-top: 15px;
  }
  .mydet {
    flex-basis: 50%;
    display: flex;
    align-items: center;
  }

  /* 
  >>>> About <<<<<<<<<< */
  .tunes ul {
    list-style: none;
    display: flex;
    margin-top: 1.5rem;
  }

  .lead_image img {
    margin-top: 30px;
  }

  .tunes h5 {
    color: #a4c7c6;
    margin-top: 1rem;
  }

  /* 
  >>>> Collection <<<<<<<<<< */

  .collections li {
    margin: 0px 5px;
    margin-top: 24px;
    background: #facd66;
    border-radius: 20px;
    padding: 10px 20px;
    color: #1d2123;
    width: 100%;
    text-align: center;
  }

  .current_playlist {
    display: none;
  }

  .current_playlist_mobile {
    display: block;
  }

  .current_playlist_mobile>div {
    margin: 20px 20px;
  }

  .current_playlist_mobile img {
    width: 100%;
  }
}